In [7]:
import pandas as pd
from itertools import chain

In [8]:
df = pd.read_csv('UN_EGDI_EGDI_WIDEF.csv')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   FREQ                193 non-null    object
 1   FREQ_LABEL          193 non-null    object
 2   REF_AREA            193 non-null    object
 3   REF_AREA_LABEL      193 non-null    object
 4   INDICATOR           193 non-null    object
 5   INDICATOR_LABEL     193 non-null    object
 6   UNIT_MEASURE        193 non-null    object
 7   UNIT_MEASURE_LABEL  193 non-null    object
 8   DATABASE_ID         193 non-null    object
 9   DATABASE_ID_LABEL   193 non-null    object
 10  UNIT_MULT           193 non-null    int64
 11  UNIT_MULT_LABEL     193 non-null    object
 12  OBS_STATUS          193 non-null    object
 13  OBS_STATUS_LABEL    193 non-null    object
 14  OBS_CONF            193 non-null    object
 15  OBS_CONF_LABEL      193 non-null    object
 16  2003                193 non-null    float64
 17  2004                193 non-null    float64
 18  2005                193 non-null    float64
 19  2008                193 non-null    float64
 20  2010                193 non-null    float64
 21  2012                193 non-null    float64
 22  2014                193 non-null    float64
 23  2016                193 non-null    float64
 24  2018                193 non-null    float64
 25  2020                193 non-null    float64
 26  2022                193 non-null    float64
 27  2024                193 non-null    float64
dtypes: float64(12), int64(1), object(15)
memory usage: 42.3+ KB

In [10]:
df = df.iloc[:, chain([3], range(16, 28))]

In [11]:
df

,REF_AREA_LABEL,2003,2004,2005,2008,2010,2012,2014,2016,2018,2020,2022,2024
0,Afghanistan,0.11752,0.13367,0.14898,0.2048,0.20976,0.17014,0.19003,0.23132,0.2585,0.3203,0.2710,0.20827
1,Angola,0.19222,0.19980,0.18400,0.3328,0.31098,0.32028,0.29703,0.33114,0.3376,0.3847,0.3789,0.41487
2,Albania,0.31079,0.33998,0.37316,0.4670,0.45192,0.51606,0.50455,0.53305,0.6519,0.7399,0.7413,0.80000
3,Andorra,0.17416,0.15633,0.18363,0.5175,0.51478,0.61718,0.64260,0.63016,0.6857,0.6881,0.7177,0.68931
4,United Arab Emirates,0.53450,0.47356,0.57182,0.6301,0.53494,0.73442,0.71358,0.75153,0.8295,0.8555,0.9010,0.95328
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Samoa,0.29927,0.37926,0.39769,0.3761,0.37419,0.43576,0.42039,0.40192,0.4236,0.4219,0.4207,0.48990
189,"Yemen, Rep.",0.18758,0.19483,0.21249,0.2142,0.21541,0.24724,0.27199,0.22478,0.2154,0.3045,0.2899,0.23175
190,South Africa,0.51503,0.49021,0.50754,0.5115,0.43057,0.48687,0.48688,0.55463,0.6618,0.6891,0.7357,0.86162
191,Zambia,0.27644,0.00000,0.00000,0.2266,0.28098,0.29102,0.23893,0.35069,0.4111,0.4242,0.5022,0.54237
192,Zimbabwe,0.30438,0.28330,0.33161,0.3000,0.32304,0.35831,0.35845,0.34722,0.3692,0.5019,0.4717,0.44807